@media only screen and (max-width: 900px) {
    .cont_lien {
        flex-direction : column;
        align-items: center;
        justify-content: space-evenly;
    }

    .bloc_card {
        width: 70%;
    }
}